{% extends 'base.html' %}
{% load static %}

{% block css-file %}
<link rel="stylesheet" href="{% static 'kakeibo_app/success.css' %}" />
{% endblock css-file %}

{% block content %}
<div class="subtitle">
    <h2>まとめて入力</h2>
</div>

<div class="success-message">
    <p>入力が完了しました</p>
    <p>支出項目：{{ cost }}</p>
    <p>開始期間：{{ form.year_1.value }}年{{ form.month_1.value }}月から</p>
    <p>終了期間：{{ form.year_2.value }}年{{ form.month_2.value }}月まで</p>
    <p>金額：{{ form.money.value }}円</p>
    <p>メモ：{{ form.memo.value }}</p>
    <a href="{% url 'kakeibo_app:multi_entry' %}">続けてまとめて入力する</a>
</div>
{% endblock content %}